body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.background-color {
  background-color: #64b5f6;
  size: 300px;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  padding: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 80px;
}
.post-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45%;
}
.post {
  text-align: center;
  font-weight: bold;
  background-color: #f8bbd0;
  padding: 50px;
  font-size: 30px;
  margin-right: 600px;
  margin-left: 600px;
  margin-top: 50px;
}
.postlinks {
  font-size: 20px;
}
