body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.background-color {
  background-color: #64b5f6;
  size: 100px;
}
.title {
  text-align: center;
  padding: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 50px;
}
.post-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 10px solid #f8bbd0;
}
.first-blog {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}
